.navbar1-wrapper {
  display: contents;
}
 
.navbar1-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-navbar-interactive {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
  background-color: #0d6364;
}
 
.navbar1-image1 {
  width: 94px;
  height: 90px;
}
 
.navbar1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar1-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar1-link11 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: flex;
  font-size: 20px;
  text-decoration: none;
}
 
.navbar1-link21 {
  font-size: 20px;
  text-decoration: none;
}
 
.navbar1-link31 {
  font-size: 20px;
  text-decoration: none;
}
 
.navbar1-buttons1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar1-navlink {
  display: contents;
}
 
.navbar1-icon10 {
  width: 65px;
  height: 60px;
  text-decoration: none;
}
 
.navbar1-burger-menu {
  display: none;
}
 
.navbar1-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar1-logo {
  height: 3rem;
}
 
.navbar1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar1-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar1-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-link12 {
  text-decoration: none;
}
 
.navbar1-link22 {
  text-decoration: none;
}
 
.navbar1-link32 {
  text-decoration: none;
}
 
.navbar1-link4 {
  text-decoration: none;
}
 
.navbar1-link5 {
  text-decoration: none;
}
 
.navbar1-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar1-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.signup-fragment12 {
  display: contents;
}
 
.signup-text12 {
  color: #ffffff;
  display: inline-block;
}
 
.signup-fragment11 {
  display: contents;
}
 
.signup-text11 {
  display: inline-block;
}
 
.signup-fragment14 {
  display: contents;
}
 
.signup-text14 {
  display: inline-block;
}
 
.signup-fragment15 {
  display: contents;
}
 
.signup-text15 {
  display: inline-block;
}
 
.signup-fragment13 {
  display: contents;
}
 
.signup-text13 {
  display: inline-block;
}
 
.signup-fragment16 {
  display: contents;
}
 
.signup-text16 {
  display: inline-block;
}
 
.signup-fragment10 {
  display: contents;
}
 
.signup-text10 {
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-weight: 700;
}
 
@media(max-width: 767px) {
  .navbar1-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar1-desktop-menu {
    display: none;
  }
  .navbar1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar1-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar1-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.sign-up10-wrapper {
  display: contents;
}
 
.sign-up10-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
 
.sign-up10-sign-up-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
 
.sign-up10-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.4);
}
 
.sign-up10-form-root {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up10-form1 {
  gap: var(--dl-layout-space-twounits);
  width: 756px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.sign-up10-title-root {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.sign-up10-text10 {
  text-align: center;
}
 
.sign-up10-form2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-up10-email {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up10-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary2);
  background-color: transparent;
}
 
.sign-up10-password {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up10-textfield {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up10-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-up10-hide-password {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-up10-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-up10-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary2);
  background-color: transparent;
}
 
.sign-up10-button1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.sign-up10-text14 {
  text-align: center;
}
 
.sign-up10-divider1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up10-divider2 {
  flex: 1;
  width: var(--dl-layout-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary2);
}
 
.sign-up10-divider3 {
  flex: 1;
  width: var(--dl-layout-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary2);
}
 
.sign-up10-button2 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  width: 100%;
  align-self: center;
  border-color: var(--dl-color-theme-primary2);
  text-decoration: none;
}
 
.sign-up10-text16 {
  text-align: center;
}
 
.signup-fragment17 {
  display: contents;
}
 
.signup-text17 {
  display: inline-block;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}
 
.signup-fragment18 {
  display: contents;
}
 
.signup-text18 {
  display: inline-block;
}
 
.signup-fragment19 {
  display: contents;
}
 
.signup-text19 {
  display: inline-block;
}
 
.signup-fragment20 {
  display: contents;
}
 
.signup-text20 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .sign-up10-form1 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .sign-up10-text10 {
    text-align: center;
  }
  .sign-up10-button1 {
    width: 100%;
  }
  .sign-up10-button2 {
    width: 100%;
  }
}

.footer3-wrapper {
  display: contents;
}
 
.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: 141px;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 2px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.footer3-max-width {
  gap: var(--dl-layout-space-threeunits);
  height: 191px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer3-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer3-links {
  gap: var(--dl-layout-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.footer3-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer3-divider {
  background-color: var(--dl-color-theme-secondary1);
}
 
.footer3-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer3-footer-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-content3 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
 
@media(max-width: 767px) {
  .footer3-content {
    flex-direction: column;
  }
  .footer3-row {
    flex-direction: column;
  }
  .footer3-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer3-content {
    width: 100%;
  }
  .footer3-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.signup-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.signup-fragment10 {
  display: contents;
}
 
.signup-text10 {
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-weight: 700;
}
 
.signup-fragment11 {
  display: contents;
}
 
.signup-text11 {
  display: inline-block;
}
 
.signup-fragment12 {
  display: contents;
}
 
.signup-text12 {
  color: #ffffff;
  display: inline-block;
}
 
.signup-fragment13 {
  display: contents;
}
 
.signup-text13 {
  display: inline-block;
}
 
.signup-fragment14 {
  display: contents;
}
 
.signup-text14 {
  display: inline-block;
}
 
.signup-fragment15 {
  display: contents;
}
 
.signup-text15 {
  display: inline-block;
}
 
.signup-fragment16 {
  display: contents;
}
 
.signup-text16 {
  display: inline-block;
}
 
.signup-fragment17 {
  display: contents;
}
 
.signup-text17 {
  display: inline-block;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}
 
.signup-fragment18 {
  display: contents;
}
 
.signup-text18 {
  display: inline-block;
}
 
.signup-fragment19 {
  display: contents;
}
 
.signup-text19 {
  display: inline-block;
}
 
.signup-fragment20 {
  display: contents;
}
 
.signup-text20 {
  display: inline-block;
}
